<div class="col-box col-box-author">
  <img class="avatar" src="{{ site.avatar }}" alt="{{ site.author }}">
  <div class="col-box-title name">{{ site.author }}</div>
  <p>{{ site.profile }}</p>
  <p class="contact">
    {% if site.youtube_channel %}
    <a href="https://www.youtube.com/channel/{{ site.youtube_channel }}" target="_blank">YouTube</a>
    {% endif %}
    {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a>
    {% endif %}
    {% if site.email %}
    <a href="mailto:{{ site.email }}">Email</a>
    {% endif %}
  </p>
</div>

<div class="col-box">
  <div class="contentContainer">
    <div class="progressBar">
      <p>Gears of War: Ultimate</p>
      <div class="shadow">
        <div class="progressBarContainer">
          <div class="progressBarValue value-30"></div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="col-box">
  <div class="col-box-title">Newest Posts</div>
  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="col-box post-toc hide">
  <div class="col-box-title">TOC</div>
</div>

<br />
<iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=29&l=ur1&category=computers_accesories&banner=1BK9N3RQP7DBH29WRV02&f=ifr&linkID=13f686cb2af4b706efc1496280accf51&t=mafunk9204-20&tracking_id=mafunk9204-20" width="120" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
